.Header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

.Header_title {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
}